<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.collection_select(:project_id, Project.all, :id, :name, {}, {:multiple => false} ) %>
  </div>
  <div class="field">
    <%= f.label :user_id, "Owner" %><br>
    <%= f.collection_select(:user_id, User.all, :id, :name, {}, {:multiple => false} ) %>
  </div>
  <div class="field">
    <%= f.label :priority_id %><br>
    <%= f.collection_select(:priority_id, Priority.all, :id, :order, {}, {:multiple => false} ) %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.collection_select(:status_id, Status.all, :id, :description, {}, {:multiple => false} ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
