<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @task.action %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @task.comment %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority.order %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
